<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatter</title>
    <link th:href="@{../css/style.css}" rel="stylesheet">
</head>
<body>
<header>
    <a href="/home" class="back-button">Chatter</a>
</header>
<main>
    <h1>Unknown error</h1>
    <h2>Error happened</h2>
    <p>Sorry, an error occurred.</p>
    <p>Error message:</p>
    <p th:text="${error}"></p>
    <a href="javascript:history.back()">Go Back</a>
    <a th:href="@{/}">Go to starting page</a>
</main>
</body>
</html>