@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

header{
    background-color: #127800;
    padding: 0.1px;
    max-height: 10vh;
    text-align: center;
    color: white;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: lightgrey;
    margin: 0;
}

.center{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table{
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid black;
}

#logs{
    max-height: 70vh;
    overflow: auto;
}
#logs{
    max-height: 50vh;
    overflow: auto;
}

#chats{
    max-height: 40vh;
    overflow: auto;
}

#chat{
    width: 100vh;
    background-color: aliceblue;
    border-left: grey 2px solid;
    border-right: grey 2px solid;
    border-top: grey 2px solid;
}

#message-form{
    border-top: grey 2px solid;
    height: 5vh;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
}
#message-form input{
    width: 90%;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

#chat-messages{
    height: 84vh;
    overflow: auto;
}

.message{
    padding-left: 1vw;
    padding-bottom: 1vh;
    padding-top: 0.3vh;
    border-bottom: 1px solid lightgrey;
}

.time{
    font-size: 0.8em;
    color: grey;
}

.message-text{
    padding-left: 1vw;
}