<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatter</title>
    <link th:href="@{../css/style.css}" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/" class="back-button">Chatter</a>
    </header>
    <main id="chat-container">
        <div id="user-online-table">
            <h3>Online Participants:</h3>
            <div id="online-users"></div>
        </div>
        <div id="chat">
            <div id="chat-messages">
                <div th:each="message : ${messages}" class="message">
                        <span th:text="${#dates.format(message.getTimestamp(), 'dd/MM/yyyy HH:mm')}
                        + ' | '" class="time"></span>
                    <span th:text="${message.author} + ': '"></span><br>
                    <span th:text="'  ' + ${message.content}" class="message-text"></span>
                </div>
            </div>
            <div id="message-form">
                <input type="text" id="message-input" placeholder="Type your message here">
                <button id="send-message-button" onclick="sendMessage()">Send</button>
            </div>
        </div>
        <div id="chat-controls">
            <button id="leave-chat-button" onclick="leaveChat()">Leave Chat</button><br><br>
            <input type="text" id="user-input" placeholder="Enter username"><br>
            <button id="add-user-button" onclick="addUser()">Add user</button>
            <button id="remove-user-button" onclick="removeUser()">Remove user</button>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script th:src="@{../js/chatWebSocketHandler.js}"></script>
    <script th:src="@{../js/manageUsersChat.js}"></script>
</body>
</html>