<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatter</title>
    <link th:href="@{../css/style.css}" type="text/css" rel="stylesheet">
</head>
<body>
<header>
    <a href="/home" class="back-button">Chatter</a>
</header>
<main>
    <h2>Start chatting today!</h2>
    <div id="chat-search">
        <h3>Search for a chat by name or user</h3>
        <input type="text" id="chat-search-input" placeholder="Search for a chat">
        <input type="text" id="user-search-input" placeholder="Search for users, separated by comma">
        <button onclick="changeChatPage()">Search</button>
    </div><br>
    <div id="chats">

    </div>

    <h2>Create a new chat:</h2>
    <form method="post" action="/chat">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <label for="chatName">Name of the Chat: </label>
        <input type="text" name="name" placeholder="Chat Name" id="chatName">
        <label for="chatMembers">Name of Members (separated by a comma): </label>
        <input type="text" name="userString" placeholder="Chat Members" id="chatMembers">
        <button type="submit">Create Chat</button>
    </form>
    <div>
        <h2>All user currently online</h2>
        <div id="onlineUsers"></div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
<script th:src="@{../js/chatDisplay.js}"></script>
<script th:src="@{../js/homeWebSocketHandler.js}"></script>
</body>
</html>